.sidebar {
    position: absolute;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 30px;

    background-color: rgb(1, 6, 27);
}

.nome_logo {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    padding-right: 30px;

    align-items: center;

    img {
        width: 60px;
        height: 60px;
    }

    span {
        color: #ffff;
        font-size: 30px;
    }
}

.navigation {
    height: 100%;
    padding-top: 10px;

    background-color: rgb(1, 6, 27);

    ul {
        li {
            display: flex;
            align-items: center;

            .card {
                position: relative;
                padding-left: 30px;
                margin-bottom: 30px;
                min-width: 100%;
                height: 40px;
                left: -20px;

                display: flex;
                align-items: center;

                border-radius: 30px;
                border-bottom-left-radius: 0;
                background-color: rgb(52, 92, 92);

                .icon {
                    color: #ffff;
                    font-size: 20px;
                    margin-right: 8px;
                }
    
                span {
                    color: #ffff;
                    font-size: 20px;
                }
            }

            .card::before {
                content: '';
                position: relative;
                width: 20px;
                height: 30px;
                left: -30px;
                top: 35px;

                z-index: 2;

                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: rgb(35, 58, 58);
            }
            .card::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0px;
                top: 40px;

                border-bottom-left-radius: 5px;
                background-color: rgb(52, 92, 92);
            }

            .card2 {
                position: relative;
                display: flex;
                
                padding-left: 30px;
                margin-top: 40px;
                min-width: 100%;
                height: 70px;
                left: -20px;

                align-items: center;

                border-radius: 30px;
                border-bottom-left-radius: 0;
                background-color: rgb(52, 92, 92);
            }

            .card2::before {
                content: '';
                position: relative;
                width: 21px;
                height: 40px;
                left: -30px;
                top: 55px;

                z-index: 2;

                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: rgb(35, 58, 58);
            }
            .card2::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 54px;
                left: 0px;
                top: 40px;

                border-bottom-left-radius: 5px;
                background-color: rgb(52, 92, 92);
            }
            .profile {
                position:relative ;
                padding: 5px 0px;
                height: 60px;
                width: 82%;
                left: -32px;

                .profile_details {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    left: 0;

                    img {
                        width: 55px;
                        height: 55px;
                        left: 0;

                        object-fit: cover;

                        border-radius: 10px;
                    }

                    .name_rm {
                        margin-left: -10px;
                        margin-right: 15px;

                        .name, .rm {
                            color: #ffff;
                            font-size: 16px;
                        } 
                    }
                }
            }
        }
    }
}