.sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    left: 50px;

    background-color: rgb(1, 6, 27);
}

.nome_logo {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    padding-right: 30px;

    align-items: center;

    img {
        width: 60px;
        height: 60px;
    }

    span {
        color: #ffff;
        font-size: 30px;
    }
}

.navigation {
    height: 100%;
    padding-top: 10px;

    ul {
        li {
            display: flex;
            align-items: center;

            .card {
                position: relative;
                padding-left: 30px;
                margin-bottom: 30px;
                min-width: 100%;
                height: 40px;
                left: -20px;

                display: flex;
                align-items: center;

                border-radius: 30px;
                border-bottom-left-radius: 0;
                background-color: rgb(52, 92, 92);

                .icon {
                    color: #ffff;
                    font-size: 20px;
                    margin-right: 15px;
                }
    
                span {
                    color: #ffff;
                    font-size: 20px;
                }
            }

            .card::before {
                content: '';
                position: relative;
                width: 20px;
                height: 30px;
                left: -30px;
                top: 35px;

                z-index: 2;

                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: rgb(35, 58, 58);
            }
            .card::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0px;
                top: 40px;

                border-bottom-left-radius: 5px;
                background-color: rgb(52, 92, 92);
            }
        }
    }
}